.residentcard{
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #072226;
}

.residentcard:hover{
    transform: scale(1.03);
    box-shadow: 0 0 5px #71A821;
    transition: transform 0.5s,
                box-shadow 0.5s;
}

.residentcard__name{
    padding: 10px;
}

.residentcard hr{
    width: 90%;
}

.residentcard__img{
    position: relative;
}

.residentcard__status{
    position: absolute;
    top: 10%;
    left:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    background-color: #072226;
    padding: 2px 4px;
    border-radius: 3px;
}

.residentcard__circle{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    
}

.residentcard__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.residentcard__item{
    display: flex;
    flex-direction: column;
}

.residentcard__item span:first-child{
    padding-left: 10px;
    font-weight: 300;
    color: #999;
}